:root {
    --main-color-primary: midnightblue;
    --main-color-secondary: DarkBlue;
    --second_color: whitesmoke;
    --support_color: #098fc4;
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --transition-speed: 600ms;
}

html {
    font-family: 'segoe ui';
}

p {
    margin-top: 0;
}

main {
    display: grid;

    grid-template-areas: "header header header" "navbar content sidebar";

    margin-top: -8px;

    grid-template-columns: 1fr 4fr 1fr !important;

    grid-template-rows: 2rem 100%;
}


body {
    background: var(--main-color-primary);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--main-color-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--support_color);
}

.container {
    grid-area: content;
    transition: 600ms ease;

    height: 100%;

    display: grid;

    grid-template-areas: "profile news .";

    grid-template-columns: 1fr 2fr 1fr;

    grid-template-rows: 100%;
}
/* profile */

.profile-template {
    width: auto;

    grid-area: profile;
}

.profile-box {
    position: fixed;
    grid-area: profile;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--main-color-secondary);
    background-clip: border-box;
    border: 1px solid var(--support_color);
    color: var(--text-primary);
    border-radius: .25rem;
    padding-right: 1em;
}

.profile-img{
    max-width: 128px;
    max-height: 128px;
    display: block;
}


/* news */
.news-template {
    width: auto;

    height: 100%;

    grid-area: news;
}

.news-content {
    overflow: scroll;
    background-color: var(--main-color-secondary);
    height: 100%;
    flex-direction: column;
    margin-bottom: 3em;
}

/* .container {
    height: calc(100vh - 2.5rem);
} */

/* .news-box {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    min-height: 5rem;
    max-height: 20rem;
    overflow: hidden;
    display: block;
    background-color: var(--main-color-primary);
    color: var(--text-primary);
    align-content: center;
} */

.news-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--main-color-primary);
    background-clip: border-box;
    border: 1px solid var(--support_color);
    color: var(--text-primary);
    border-radius: .25rem;
}

.news-box-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.news-box-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-muted {
    color: gray !important;
}

.news-box-img{
    max-width: calc(100% - 4em);
    max-height: calc(calc(100% - 4em) / 16 * 9);
    display: block;
    margin: 0 auto;
}
/* header */

header {
    width: 100%;
    height: 2rem;
    grid-area: header;
    left: 0px;
    position: fixed;
    margin-left: 8px;
    background-color: var(--support_color);
}

header .btn-logout {
    margin-left: 95%;
    text-decoration: none;
    color: var(--text-primary);
    position: absolute;
    top: 0;
    left: 1.5rem;
}

header svg {
    margin-left: 95%;
    position: absolute;
    top: 0;
}

/* dropdown */

.btn-secondary {
    color: var(--text-primary);
    background-color: var(--main-color-primary);
    border-color: var(--main-color-primary);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--text-primary);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, -2px, 0px);
}

.dropdown { 
    position: relative;
}

header .dropdown {
    margin-left: 90%;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -3rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: var(--support_color);
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > a {
    outline: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    padding: .25rem 1.5rem;
    text-decoration: none;
    font-weight: 400;
    color: var(--text-primary);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #999999;
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open>.dropdown-menu {
    display: block;
}

/* NAVBAR */
.navbar {
    grid-area: navbar;
    left: 0px;
    position: fixed;
    background-color: var(--support_color);
    transition: width 600ms ease;
    overflow: scroll;
    border-radius: 0px;
    border-right: 1px solid var(--support_color);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--support_color);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--second_color);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--main-color-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.nav-profile-img{
    max-width: 3rem;
    max-height: 3rem;
    display: block;
    position: absolute;
}

.username-text {
    display: inline;
    position: absolute;
    font-size: 1rem;
    left: -999px;
    transition: var(--transition-speed);
}

.nousername-text{
    display: inline;
    position: absolute;
    font-size: 0.5rem;
    left: -999px;
    transition: var(--transition-speed);
}


.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .username-text {
        left: 0px;
    }
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}