:root {
    --main-color-primary: midnightblue;
    --main-color-secondary: DarkBlue;
    --second_color: whitesmoke;
    --support_color: #098fc4;
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --transition-speed: 600ms;
}

html {
    font-family: 'segoe ui';
    overflow: hidden;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

main {
    display: grid;

    grid-template-areas: "header header header""navbar content sidebar";

    margin-top: -8px;

    grid-template-columns: 1fr 4fr 1fr !important;

    grid-template-rows: 2rem 100%;
}


body {
    background: var(--main-color-primary);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--main-color-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--support_color);
}

.container {
    height: calc(100vh - 2.5rem) !important;

    grid-area: content;

    transition: 600ms ease;

    height: 100%;

    display: grid;

    grid-template-areas: "profile news .";

    grid-template-columns: 1fr 2fr 1fr;

    grid-template-rows: 100%;
}

/* profile */

.profile-template {
    width: auto;

    grid-area: profile;
}

.profile-box {
    position: fixed;
    grid-area: profile;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--main-color-secondary);
    background-clip: border-box;
    border: 1px solid var(--support_color);
    color: var(--text-primary);
    border-radius: .25rem;
}

.profile-img {
    max-width: 128px;
    max-height: 128px;
    display: block;
    /* border-bottom: 1px solid var(--support_color); */
}

.profile-dropdown {
    /* position: absolute; */
    /* display: inline-block;
    margin-left: calc(100% - 3rem); */
    /* margin-top: -4rem; */
}

.profile-dropdown button {
    border-bottom: 1px solid var(--support_color);
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color-primary);
    min-width: 160px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid var(--support_color);
    border-top: 0px;
    border-radius: 0rem 0rem 1rem 1rem;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.profile-dropdown-content a {
    color: var(--text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: var(--main-color-secondary);
    border-radius: 0rem 0rem 1rem 1rem;
}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

.name {
    text-align: center;
}
/* news */
.news-template {
    width: auto;

    height: 100%;

    grid-area: news;
}

.news-content {
    overflow: scroll;
    background-color: var(--main-color-secondary);
    height: 100%;
    flex-direction: column;
    margin-bottom: 3em;
}

/* .container {
    height: calc(100vh - 2.5rem);
} */

/* .news-box {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    min-height: 5rem;
    max-height: 20rem;
    overflow: hidden;
    display: block;
    background-color: var(--main-color-primary);
    color: var(--text-primary);
    align-content: center;
} */

.news-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin: 1em;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    overflow: scroll;
    word-wrap: break-word;
    background-color: var(--main-color-primary);
    background-clip: border-box;
    border: 1px solid var(--support_color);
    color: var(--text-primary);
    border-radius: 1rem;
}

.news-box-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.news-box-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-muted {
    color: gray !important;
}

.news-box-img {
    max-width: calc(100% - 4em);
    max-height: calc(calc(100% - 4em) / 16 * 9);
    display: block;
    margin: 0 auto;
}

iframe {
    margin: 0 auto;
    display: block;
}

.news-box-text {
    margin-top: 0;
    margin-bottom: 1rem;
    border: var(--support_color) solid 0.5px;
    border-radius: 1rem;
    margin: 0 1.5rem;
    padding: .25rem 1rem;
    margin-bottom: 1rem;
    background-color: var(--main-color-secondary);
}

.news-box-author {
    margin-top: 1rem;
    margin-left: 1rem;
    border: var(--support_color) solid 1px;
    border-radius: 25px;
    display: flex;
    max-width: max-content;
    max-height: 3rem;
    margin-bottom: 1rem;
}

.news-box-author-img {
    max-width: 2rem;
    max-height: 2rem;
    margin: .5rem;
    border-radius: 1rem;
    border: 0px;
}

news-box-author-name {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 2rem;
    align-self: start;
    padding-right: 1rem;
    vertical-align: super;
    position: relative;
    bottom: .5rem;
}

.news-box-support {
    margin-top: 0rem;
    margin-left: 1rem;
    border: var(--support_color) solid 1px;
    border-radius: 25px;
    display: flex;
    max-width: 3rem;
    max-height: 2rem;
    margin-bottom: 1rem;
}

.heart__input {
    position: relative;
    -webkit-appearance: none;
    bottom: 0rem;
    left: 1rem;
    width: 0.9rem;
    height: 0.9rem;
}

.heart__box {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-heart' viewBox='0 0 16 16'%3E%3Cpath d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'/%3E%3C/svg%3E");
    bottom: 1.15rem;
    left: 1.2rem;
}

.heart__input:checked + .heart__box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rosybrown' class='bi bi-heart-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/%3E%3C/svg%3E");
}

.comment__button {
    position: relative;
    bottom: 0rem;
    background: none;
    border: none;
    bottom: -.3rem
}

.comment__button:active {
    color: var(--support_color);
}

.news-box-text-date {
    margin-top: 0;
    text-align: right;
    padding: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 0px;
}

.dropbtn {
    background-color: var(--main-color-primary);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.news_dropdown {
    position: absolute;
    display: inline-block;
    margin-left: calc(100% - 3rem);
    margin-top: -4rem;
}

.news_dropdown button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.news_dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color-secondary);
    min-width: 160px;
    margin-left: -7rem;
    border: 1px solid var(--support_color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.news_dropdown-content a {
    color: var(--text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.news_dropdown:hover .news_dropdown-content {
    display: block;
}

.news-add-btn {
    background-color: var(--main-color-secondary);
    border: 1px solid var(--support_color);
    border-radius: 0rem 0rem 1rem 1rem;
    border-top: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */

header {
    width: 100%;
    height: 2rem;
    grid-area: header;
    left: 0px;
    position: fixed;
    margin-left: 8px;
    background-color: var(--support_color);
}

header .btn-logout {
    margin-left: 95%;
    text-decoration: none;
    color: var(--text-primary);
    position: absolute;
    top: 0;
    left: 1.5rem;
}

header svg {
    margin-left: 95%;
    position: absolute;
    top: 0;
}

/* dropdown */

.btn-secondary {
    color: var(--text-primary);
    background-color: var(--main-color-primary);
    border-color: var(--main-color-primary);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--text-primary);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, -2px, 0px);
}

.dropdown {
    position: relative;
}

header .dropdown {
    margin-left: 90%;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -3rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: var(--support_color);
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open>a {
    outline: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    padding: .25rem 1.5rem;
    text-decoration: none;
    font-weight: 400;
    color: var(--text-primary);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #999999;
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open>.dropdown-menu {
    display: block;
}

/* NAVBAR */
.navbar {
    grid-area: navbar;
    left: 0px;
    position: fixed;
    background-color: var(--support_color);
    transition: width 600ms ease;
    overflow: scroll;
    border-radius: 0px;
    border-right: 1px solid var(--support_color);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--support_color);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--second_color);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--main-color-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.nav-profile-img {
    max-width: 3rem;
    max-height: 3rem;
    display: block;
    position: absolute;
}

.username-text {
    display: inline;
    position: absolute;
    font-size: 1rem;
    left: -999px;
    transition: var(--transition-speed);
}

.nousername-text {
    display: inline;
    position: absolute;
    font-size: 0.5rem;
    left: -999px;
    transition: var(--transition-speed);
}


.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .username-text {
        left: 0px;
    }
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}