{% extends "layout.html" %}

{% block user %}
{% if current_user.is_authenticated %}
{% if param.image != None %}
<img class="nav-profile-img" alt="profile-image" src="static/files/{{param.image}}">
{% else %}
<img class="nav-profile-img" alt="profile-image" src="static/images/person_default.png">
{% endif %}
<span class="link-text username-text">{{param.user}}</span>
{% else %}
<span class="link-text nousername-text">{{param.user}}</span>
{% endif %}
{% endblock %}

{% block content %}

<div class="news-template">
    <div class="news-content">
        {% if current_user.is_authenticated %}
        <a href="add_news" class="btn btn-secondary">Добавить новость</a>
        {% endif %}
        {% for item in news%}
        <div class="news-box">
            <div class="news-box-content">
                <div class="news-box-author">
                    <a href="/user_id:{{item.user.id}}">
                        {% if item.user.image != None %}
                        <img class="news-box-author-img" alt="profile-image" src="static/files/{{item.user.image}}">
                        {% else %}
                        <img class="news-box-author-img" alt="profile-image" src="static/images/person_default.png">
                        {% endif %}
                        <news-box-author-name>{{ item.user.user }}</news-box-author-name>
                    </a>
                </div>
                <p class="news-box-text">
                    {{item.content}}
                </p>
                {% if item.spotify_playlist != None %}
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/{{ item.spotify_playlist }}?utm_source=generator"
                    width="90%" height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <br>
                {% endif %}
                {% if item.spotify_album != None %}
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/{{ item.spotify_album }}?utm_source=generator" width="90%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <br>
                {% endif %}
                {% if item.spotify_track != None %}
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/{{ item.spotify_track }}?utm_source=generator" width="90%"
                    height="80" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <br>
                {% endif %}
                {% if item.images != None %}
                <!-- <div class="news-box-img" style="background-image: url(static/files/{{item.images}});"> -->
                <a href="/image:{{item.images.split('/')[1]}}:{{item.user.id}}">
                    <img class="news-box-img" alt="news-img" src="static/files/{{item.images}}">
                </a>
                <br>
                {% endif %}
                {% if item.youtube_video != None %}
                <iframe width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/{{ item.youtube_video }}?controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                {% endif %}
                <p class="news-box-text-date">
                    <small class="text-muted">Дата написания -
                        {{item.created_date.strftime('%Y %b %d %I:%M %p')}}</small>
                </p>
            </div>
            <div class="news-box-support">
                <label class="heart">
                    <input class="heart__input" type="checkbox" />
                    <span class="heart__box"></span>
                </label>
                <label class="comment">
                    <button class="comment__button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-left" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        </svg>
                    </button>
                </label>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}