{% extends "layout.html" %}
{% block user %}
<link rel="stylesheet" type="text/css" href="/static/content/messages.css" />
{% if current_user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="/static/content/themes/{{ settings.theme }}.css" />
{% if param.image != None %}
<img class="nav-profile-img" alt="profile-image" src="static/files/{{param.image}}">
{% else %}
<img class="nav-profile-img" alt="profile-image" src="static/images/person_default.png">
{% endif %}
<span class="link-text username-text">{{param.user}}</span>
{% else %}
<span class="link-text nousername-text">{{param.user}}</span>
{% endif %}
{% endblock %}

{% block content %}

<div class="messages-template">
    <div class="messages-header">
        <a class="messages-header-card-links" href="/user_id:{{ user.id }}">
            {% if user.image != None %}
            <img class="messages-header-card-img" alt="profile-image" src="static/files/{{user.image}}">
            {% else %}
            <img class="messages-header-card-img" alt="profile-image" src="static/images/person_default.png">
            {% endif %}
            <messages-header-card-name>{{ user.user }}</messages-header-card-name>
        </a>
    </div>
    <div class="messages-content">
        {% if messages != None %}
        {% for item in messages %}
        {% if item.sender == current_user.id %}
        <div class="right">
        {% else %}
        <div class="left">
        {% endif %}
        <div class="message-box">
            <div class="message-box-text"> {{ item.text }} </div>
            {% if item.embeds == True %}
                {% if embeds.spotify_playlist != None %}
                    <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/{{ embeds.spotify_playlist }}?utm_source=generator"
                    width="90%" height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <br>
                    {% endif %}
                    {% if embeds.spotify_album != None %}
                    <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/{{ embeds.spotify_album }}?utm_source=generator" width="90%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <br>
                    {% endif %}
                    {% if embeds.spotify_track != None %}
                    <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/{{ embeds.spotify_track }}?utm_source=generator" width="90%"
                    height="80" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <br>
                    {% endif %}
                    {% if embeds.soundcloud_html != None %}
                        {% autoescape false %}
                            {{ embeds.soundcloud_html}}
                        {% endautoescape %}
                        <div
                            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                            <a href="{{ embeds.soundcloud_song_author_link }}" title="{{ embeds.soundcloud_song_author }}" target="_blank"
                            style="color: #cccccc; text-decoration: none;">{{ embeds.soundcloud_song_author }}</a> · <a
                            href="{{ embeds.soundcloud_link}}"
                            title="{{ embeds[item.id -1].soundcloud_song_title }}" target="_blank"
                            style="color: #cccccc; text-decoration: none;">{{ embeds.soundcloud_song_title }}</a></div>
                    {% endif %}
                    {% if embeds.yandex_music_song_src != None %}
                        {% if embeds.yandex_music_track == True %}
                        <iframe frameborder="0" style="border:none;width:90%;height:180px;" width="90%" height="180"
                        src="https://music.yandex.ru/iframe/#track/{{ embeds.yandex_music_song_src }}"></iframe>
                        {% endif %}
                        {% if embeds.yandex_music_album == True %}
                        <iframe frameborder="0" style="border:none;width:90%;height:380px;" width="90%" height="380"
                         src="https://music.yandex.ru/iframe/#album/{{ embeds.yandex_music_song_src }}"></iframe>
                        {% endif %}
                        {% if embeds.yandex_music_playlist == True %}
                        <iframe frameborder="0" style="border:none;width:90%;height:380px;" width="90%" height="380"
                         src="https://music.yandex.ru/iframe/#playlist/music-blog/{{ embeds.yandex_music_song_src }}"></iframe>
                        {% endif %}
                    {% endif %}
                    {% if embeds.youtube_video != None %}
                        <iframe width="90%" height="315"
                        src="https://www.youtube-nocookie.com/embed/{{ embeds.youtube_video }}?controls=0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                {% endif %}
            {% endif %}
        </div>
        </div>

        {% endfor %}
        {% endif %}
    <search_form>
        <div class="message-box-sender">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
            {{ form.content }}
            {% for error in form.content.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            {{ form.submit(type="submit") }}
        </div>
    </search_form>
    </div>
</div>

{% endblock %}