{% extends "layout.html" %}

{% block user %}
{% if current_user.is_authenticated %}
{% if param.image != None %}
<img class="nav-profile-img" alt="profile-image" src="static/files/{{param.image}}">
{% else %}
<img class="nav-profile-img" alt="profile-image" src="static/images/person_default.png">
{% endif %}
<span class="link-text username-text">{{param.user}}</span>
{% else %}
<span class="link-text nousername-text">{{param.user}}</span>
{% endif %}
{% endblock %}

{% block content %}

<div class="profile-template">
<div class="profile-box">
    {% for item in profile %}
    {% if item.image != None %}
    <a href="/image:{{item.image.split('/')[1]}}:{{param.now_id}}">
        <img class="profile-img" alt="profile-image" src="static/files/{{item.image}}">
    </a>   
    {% else %} 
    <img class="profile-img" alt="profile-image" src="static/images/person_default.png">
    {% endif %}
    <h2 class="name">{{item.user}}</h2>
    {% endfor %}
    {% if not profile_exs %}
    <h1 class="user_not_exist"> Такого пользователя не существует </h1>
    {% endif %}
</div>
</div>

<div class="news-template">
    <div class="news-content">
    {% if current_user.is_authenticated %}
    <a href="add_news" class="btn btn-secondary">Добавить новость</a>
    {% endif %}
    {% for item in news%}
    <div class="news-box">
        <div class="news-box-content">
    <p class="news-box-text">
    {{item.content}}
    </p>
    {% if item.spotify_playlist != None %}
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ item.spotify_playlist }}?utm_source=generator" width="90%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br>
    {% endif %}
    {% if item.spotify_album != None %}
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{ item.spotify_album }}?utm_source=generator" width="90%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br>
    {% endif %}
    {% if item.spotify_track != None %}
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ item.spotify_track }}?utm_source=generator" width="90%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <br>
    {% endif %}
    {% if item.images != None %}
    <a href="/image:{{item.images.split('/')[1]}}:{{item.user.id}}">
        <img class="news-box-img" alt="news-img" src="static/files/{{item.images}}">
    </a>
    <br>
    {% endif %}
    {% if item.youtube_video != None %}
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ item.youtube_video }}?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
    <p class="news-box-text">
        <small class="text-muted">Дата написания - {{item.created_date}}</small>
    </p>
    </div>
    </div>

    {% endfor %}
    </div>
</div>

{% endblock %}
