{% extends "layout.html" %}

{% block user %}
{% if current_user.is_authenticated %}
{% if param.image != None %}
<img class="nav-profile-img" alt="profile-image" src="static/files/{{param.image}}">
{% else %}
<img class="nav-profile-img" alt="profile-image" src="static/images/person_default.png">
{% endif %}
<span class="link-text username-text">{{param.user}}</span>
{% else %}
<span class="link-text nousername-text">{{param.user}}</span>
{% endif %}
{% endblock %}

{% block content %}

<div class="profile-template">
<div class="profile-box">
    {% for item in profile %}
    {% if item.image != None %}
    <a href="/image:{{item.image.split('/')[1]}}:{{param.now_id}}">
        <img class="profile-img" alt="profile-image" src="static/files/{{item.image}}">
    </a>   
    {% else %} 
    <img class="profile-img" alt="profile-image" src="static/images/person_default.png">
    {% endif %}
    <h2 class="name">{{item.user}}</h2>
    {% endfor %}
    {% if not profile_exs %}
    <h1 class="user_not_exist"> Такого пользователя не существует </h1>
    {% endif %}
</div>
</div>

<div class="news-template">
    <div class="news-content">
    {% if current_user.is_authenticated %}
        {% if param.now_id == param.id %}
        <a href="/add_news" class="btn btn-secondary">Добавить новость</a>
        {% endif %}
    {% endif %}
    {% for item in news%}
    <div class="news-box">
        <div class="news-box-content">
    <div class="news-box-author">
        Автор - <a href="/user_id:{{item.user.id}}"> {{ item.user.user }} </a>
    </div>
    <p class="news-box-text">
    {{item.content}}
    </p>
    {% if item.images != None %}
    <!-- <div class="news-box-img" style="background-image: url(static/files/{{item.images}});"> -->
    <!-- <source class="news-box-img" srcset="static/files/webp/{{item.images}}"> -->
    <a href="/image:{{item.images.split('/')[1]}}:{{item.user.id}}">
        <img class="news-box-img" alt="news-img" src="static/files/{{item.images}}">
    </a>
    {% endif %}
    <p class="news-box-text">
        <small class="text-muted">Дата написания - {{item.created_date}}</small>
    </p>
    </div>
    </div>

    {% endfor %}
    </div>
</div>

{% endblock %}
