{% extends "min-layout.html" %}

{% block content %}

<div class="theme-menu">
  <div class="row row-cols-1 row-cols-md-3 gx-4">
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #7547D1; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:MediumOrchid" type="button" class="btn btn-outline-secondary">Бриз
            орхидеи</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #2b2b2b; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:Dark" class="btn btn-outline-secondary"> Серое стекло </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #FF8A8A; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:BlossomSakura" class="btn btn-outline-secondary"> Цветущая сакура
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #FF9034; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:Orenji" class="btn btn-outline-secondary"> Спелый апельсин </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #CCCCCC; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:Light" class="btn btn-outline-secondary"> Утренний лед </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div
          style="width:  18rem; height:  18rem; background: #3588CD; margin-top: 4px; margin-left: -1px; border: 4px solid white;">
        </div>
        <div class="card-body">
          <a href="/settings/change_theme/change_to:ForestRiver" class="btn btn-outline-secondary"> Лесная река </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}