:root {
    --main-color-primary: #FF8A8A;
    --main-color-secondary: #FFBF8A;
    --second_color: #FF4848;
    --support_color: #FFEEE0;
    --text-primary: #2b2b2b;
    --text-secondary: #4E4E4E;
}