:root { 
    --main-color-primary: #3588CD; 
    --main-color-secondary: #4744D5; 
    --second_color: HoneyDew; 
    --support_color: #2AD28E; 
    --text-primary: #2b2b2b;
    --text-secondary: #4E4E4E;
}