:root {
    --main-color-primary: #7547D1;
    --main-color-secondary: #9370DB;
    --second_color: HoneyDew;
    --support_color: #4E4E4E;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
}

