:root {
    --main-color-primary: #FF9034;
    --main-color-secondary: #FFBB34;
    --second_color: #FF3434;
    --support_color: #FF3434;
    --text-primary: #2b2b2b;
    --text-secondary: #4E4E4E;
}